{% extends 'base.html' %}
{% block content %}
    <h1>About the Finch Collector</h1>
    <hr />
    <p>Hire the Finch Collector!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, mollitia itaque ducimus reiciendis est eligendi soluta quod iusto eveniet! Deserunt repellendus modi id at aut laborum velit neque rem eos.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto enim illum totam ipsum nihil maxime id, dolores repellendus reiciendis. Ut quas unde voluptatibus sint, incidunt quia esse tenetur quae. Aperiam!</p>
{% endblock %}